{% extends "base.html" %}

{% block title %}Download{% endblock %}

{% block body %}
<h2>Articles about Siena on Internet</h2>
<p/>
<ul>
<li><a href="http://www.slideshare.net/gasolin/play-framework-on-google-app-engine">A slide about integrating Play + GAE + Siena presented in Taipei GTUG by Gasolin</a></li>
<li><a href="http://blog.infin-it.fr/2010/12/27/une-application-play-sur-google-appengine/">A tutorial about Play + GAE + Siena By Jean-Philippe Briend</a></li>
<li><a href="http://viralpatel.net/blogs/2011/01/first-play-framework-gae-siena-application-tutorial-example.html/comment-page-1#comment-13893
">A tutorial about Play + GAE + Siena By Viral Patel</a></li>
</ul>
{% endblock %}