{% extends "base.html" %}

{% block title %}Download{% endblock %}

{% block body %}
<h2>Download</h2>

<p>Last releases (1.x) are available to download in the <a href="https://github.com/mandubian/siena/downloads">Github download list</a>.

<p>Old releases (<0.7.x) are available to download in the <a href="http://code.google.com/p/siena/downloads/list">GoogleCode download list</a>. 

<p>It is strongly recommended to <a href="https://github.com/mandubian/siena">checkout the source code</a>.<br/>
With <a href="http://maven.apache.org/">maven</a>, you can easily create a binary JAR file (<i>skip tests when building because tests require some database servers).</p>

{% endblock %}